name: First Workflow
on: push
jobs: 
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Welcome Message
          run: echo "hello"
        - name: Second Job-list
          run: ls
        - name: Third Job-read readme
          run: cat README.md