name: First Workflow
on: push
jobs: 
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: welcome message, list files and view readme
          run: |
           echo "hello"
           ls
           cat README.md