name: generate ascii artwork
on: push
env: 
  DRAGON_FILE: dragon
jobs: 
    generate_artwork:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: run script
          run: |
            chmod +x generate-artwork.sh
            ./generate-artwork.sh
        - name: upload ${{ env.DRAGON_FILE }}.txt artifact
          uses: actions/upload-artifact@v4
          with:
            name: ${{ env.DRAGON_FILE }}
            path: ./${{ env.DRAGON_FILE }}.txt
            
    test_job:
        needs: generate_artwork
        runs-on: ubuntu-latest
        steps:
         - name: download ${{ env.DRAGON_FILE }} artifact
           uses: actions/download-artifact@v5
           with:
              name: ${{ env.DRAGON_FILE }}
              path: ./
         - name: show artwork on test runner
           run: cat ${{ env.DRAGON_FILE }}.txt