name: generate ascii artwork
on: push
jobs: 
    generate_artwork:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: run script
          run: |
            chmod +x generate-artwork.sh
            ./generate-artwork.sh
    test_job:
        needs: generate_artwork
        runs-on: ubuntu-latest
        steps:
         - name: show artwork on test runner
           run: cat dragon.txt