name: generate ascii artwork
on: push
jobs: 
    generate_artwork:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: run script
          run: |
            chmod +x generate-artwork.sh
            ./generate-artwork.sh
