name: generate ascii artwork
on: push
jobs: 
    generate_artwork:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: run script
          run: |
            chmod +x generate-artwork.sh
            ./generate-artwork.sh
        - name: upload dragon.txt artifact
          uses: actions/upload-artifact@v4
          with:
            name: dragon
            path: ./dragon.txt
            
    test_job:
        needs: generate_artwork
        runs-on: ubuntu-latest
        steps:
         - name: download dragon artifact
           uses: actions/download-artifact@v5
           with:
              name: dragon
              path: ./
         - name: show artwork on test runner
           run: cat dragon.txt